<h3>Find By Name</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">Product Name</label>
      <input type="text" class="form-control" id="productname" required [(ngModel)]="productname" name="productname">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
<div>
  <div class="row" *ngFor="let product of products">
      <div class="col-md-3"><img src="./assets/images/shopping-cart-basket-buy-online-logo-vector-14882860.jpg" style="width:50px"></div>
      <div class="col-md-3"><a routerLink="/product/{{product.id}}">{{product.productname}}</a></div>
      <div class="col-md-2">{{product.price| currency:'INR':'symbol':'1.2-2'}}</div>
      <div class="col-md-1">
          <button class="btn btn-success" *ngIf='product.active' value="Add to Cart" disabled>Add to Cart</button>
          <button class="btn btn-success" *ngIf='!product.active' (click)="addToCart(product)">Add to Cart</button>
        </div>
  </div>
</div>


