<div class="form-group">
        <div class="row">
            <label>Product Name</label>
        </div>
        <div class="row">
            <input type="text" name="productname" [(ngModel)]="product.productname" disabled/>  
        </div><br/>
        <div class="row">
            <label>Price</label>
        </div>
        <div class="row"><input type="text" name="price" [(ngModel)]="product.price" disabled/></div><br/>
        <div class="row">
            <label>Product Description</label>
        </div>
        <div class="row"><input type="text" name="description" [(ngModel)]="product.description" disabled/></div><br/>
        <div class="row">
            <label>Quantity</label>
        </div>
        <div class="row"><input type="text" name="quantity" [(ngModel)]="product.quantity"/></div><br/>
        <div class="row"><button class="btn btn-success" (click)="Update(product.quantity)">Update</button></div>
</div>
