<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav"  routerLinkActive="active" style="display: inline">
          <li><a class="navbar-brand" href="#"><img width="25" alt="Supermarket Logo" src="./assets/6.png" ></a></li>
          <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
          <li *ngIf="authority === 'user'" class="nav-item">
            <a class="nav-link" routerLink="user">User Board</a>
          </li>
          <li *ngIf="authority === 'admin'" class="nav-item">
            <a class="nav-link" routerLink="admin">Admin Board</a>
          </li>
          <li><a routerLink="/user" class="nav-link">Products</a></li>
          <li><a routerLink="/contact" class="nav-link">Contact</a></li>
        </ul>
        <ul>
            <li *ngIf="authority" class="nav-item">
                <div class="col-md-4"><button class="btn btn-secondary"  class="nav-link" (click)="logout()" style="background: rgb(34, 33, 33);
                color: gray;">Logout</button></div>
            </li>
            <li *ngIf="!authority" class="nav-item">
                <div class="col-md-4"><a class="nav-link" routerLink="auth/login"><span class="glyphicon glyphicon-log-in" > Login</span></a></div>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>
  

