<div class="container">
<div class="row" *ngIf="product">
    <div class="col-md-4">{{product.productname}}</div>
      <div class="col-md-2">{{product.price}}</div>
      <div class="col-md-2">{{product.quantity}}</div>
      <div class="col-md-1">
        <span class="button is-small btn-primary" *ngIf='product.active' (click)='updateActive(false)'>Inactive</span>
        <span class="button is-small btn-primary" *ngIf='!product.active' (click)='updateActive(true)'>Active</span>
      </div>
      <div class="col-md-1"><span class="button is-small btn-danger" (click)='deleteProduct()'>Delete</span></div>
      <div class="col-md-1"><span class="button is-small btn-success" (click)="onSelection(product)">Update</span></div>
    </div>
</div>
  

  <div *ngIf="selectedProduct" class="selectedProduct">
    <app-updateproduct [product]="selectedProduct"></app-updateproduct>
  </div>

