<div class="container">
<div class="row" *ngIf="product">
    <div class="col-md-4">{{product.productname}}</div>
      <div class="col-md-2">{{product.price}}</div>
      <div class="col-md-2">{{product.quantity}}</div>
      <div class="col-md-1">
        <button class="btn info" *ngIf='product.active' (click)='updateActive(false)'>Inactive</button>
        <button class="btn info" *ngIf='!product.active' (click)='updateActive(true)'>Active</button>
      </div>
      <div class="col-md-1"><button class="btn danger" (click)='deleteProduct()'>Delete</button></div>
      <div class="col-md-1"><button class="btn success" (click)='onSelection(product)' >Update</button></div>
    </div>
</div>
  

  <div *ngIf="selectedProduct" class="selectedProduct">
    <app-updateproduct [product]="selectedProduct"></app-updateproduct>
  </div>

